.row1{
  width: 100%;
  height: 100px;
  margin-top: 100px;
}
.row2{
  width: 100%;
  height: 100px;
}
.row3{
  width: 100%;
  height: 100px;
}
.row4{
  width: 100%;
  height: 100px;
}
.col{
  height: 100%;
  width: 10%;
  float: left;
}
body{
  background-color: black;
  text-align: center;
  color: green;
}
#box1{
  background-image: url(invader_green.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box1:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
  color: #ff0000;
}
#box2{
  background-image: url(invader_yellow.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box2:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
  color: #ff0000;
}
#box3{
  background-image: url(invader_blue.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box3:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box4{
  background-image: url(invader_lightblue.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box4:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box5{
  background-image: url(invader_orange.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box5:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box6{
  background-image: url(invader_purple.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box6:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box7{
  background-image: url(invader_pink.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box7:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box8{
  background-image: url(invader_red.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box8:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box9{
  background-image: url(invader_brown.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box9:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box10{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
#box10:hover{
  background-image: url(invader.png);
  background-repeat: no-repeat;
  background-size: 50px;
}
script{

}
